body{
    font-family: "Titillium Web", sans-serif;
    background-color: #24353F;
}

section, input{
    background-color: #24353F;
}

section{
    box-shadow: 5px 5px 5px black;
}

input.custom-input{
    background-color: #24353F;
    color: gray;
    border: gray 1px solid;
    font-size: 20px;
    border-radius: 5px;
}

input.custom-input::placeholder{
    color: gray;
}

input.custom-input:focus{
    background-color: #24353F;
    color: gray;
    box-shadow: none;
}

button.custom-btn:hover{
    color: white;
}

a{
    text-decoration: none;
}

a.cutom-a:hover{
    text-decoration: underline;
}

.w-90{
    width: 90%;
}

.w-70{
    width: 70%;
}